In [1]:
a = 100.375
print('%.3f' %a)
print('%.5f' %a)

100.375
100.37500

In [2]:
print("My name is {}, you can learn about me.".format("Python"))
print("{0} is easy with {1}.".format("Python", "tek4.vn"))
print("{str} is easy with {str2}.".format(str = "Python", str2 = "tek4.vn"))

My name is Python, you can learn about me.
Python is easy with tek4.vn.
Python is easy with tek4.vn.

In [3]:
print("Number {:d}".format(1982))
print("Float number: {:f}".format(395.19999))
print("Binary: {0:b}, Oct: {0:o}, Hex: {0:x}".format(19))

Number 1982
Float number: 395.199990
Binary: 10011, Oct: 23, Hex: 13

In [5]:
print("{:5d}".format(19))
print("{:2d}".format(3291))
print("{:8.3f}".format(19.9813219))
print("{:05d}".format(21))
print("{:08.3f}".format(10.438292189))

   19
3291
  19.981
00021
0010.438

In [3]:
print("--------------------")
print("{:20}Python".format("Python"))
print("{:>20}".format("Python"))
print("{:^20}".format("Python"))

--------------------
Python              Python
              Python
       Python

In [4]:
string = "{:{fill}{align}{width}}"
print(string.format('python', fill='*', align='^', width=9))
num = "{:{align}{width}.{precision}f}"
print(num.format(392.989, align='<', width=8, precision=1))

*python**
393.0

In [1]:
name1 = 'Nam'
score1 = 10

name2 = 'Thanh'
score2 = 8

name3 = 'Giang'
score3 = 7

print("{0:<10} {1:<5}".format("Tên","Số điểm"))
print("{0:<10} {1:<5}".format(name1,score1))
print("{0:<10} {1:<5}".format(name2,score2))
print("{0:<10} {1:<5}".format(name3,score3))

Tên        Số điểm
Nam        10
Thanh      8
Giang      7

In [2]:
name1 = 'Nam'
score1 = 10

name2 = 'Thanh'
score2 = 8

name3 = 'Giang'
score3 = 7

print(f"{'Tên' :<10} {'Số điểm' :<5}")
print(f"{name1 :<10} {score1 :<5}")
print(f"{name2 :<10} {score2 :<5}")
print(f"{name3 :<10} {score3 :<5}")

Tên        Số điểm
Nam        10
Thanh      8
Giang      7